@media screen and (max-width: 1024px) {
  #midleSection, #topSection, #bottomSection {
    flex-direction: column;
  }
  .w-80, .w-60, .w-50, .w-40, .w-20 {
    width: 95%;
  }
  #nav-1, #nav-2, #nav-3, #nav-4 {
    font-size: 14px;
  }
  #mainBackground #leftSection-0 {
    margin-top: 60px;
  }
  #title, form {
    width: 300px;
  }
}
@media screen and (max-width: 425px) {
  #mainPicture {
    top: 0;
    transform: translate(-50%, 0);
    min-height: 50vh;
  }
  #nav {
    flex-direction: column;
  }
  .container {
    position: absolute;
  }
  p, i, label, input {
    font-size: 18px;
  }
  #midleSection, #topSection, #bottomSection {
    flex-direction: column;
  }
}